
.mainButtonBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}
.noteBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    padding: 1vh;
}
.note{
    background-color: bisque;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap ;
    margin-bottom: 1rem;
}
.mainButton{
    border-radius: 7px;
    width: 20vw;
}
.modal{
    position: 'fixed';
    inset: '0';   
    background-Color: '#a1a1a18f';
}
.textBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items: center;
}
.textarea{
    height: 200px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
.title{
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
